<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612014582501-ovdr3gh6d888318v5oka9fjtkb4lbgqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612014582501-ovdr3gh6d888318v5oka9fjtkb4lbgqh</string>
	<key>API_KEY</key>
	<string>AIzaSyA8sDZ3i_5uUoRSggZOkT_wY88GtezGZxs</string>
	<key>GCM_SENDER_ID</key>
	<string>612014582501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.mrcos.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-tutoria-bd158</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-tutoria-bd158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612014582501:ios:a466e23414d0950bc9020c</string>
</dict>
</plist>